#HomeSlider {
  height: 255px;
  width: 100%;
  z-index: 1;
}
#Swiper {
  width: 100%;
  height: 100%;
}
.home-slider-link {
  width: 100%;
  height: 100%;
}
.home-slider-img {
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  top: 20% !important;
}
