/* Phone Responsive  :  max-width: 480px */
@media only screen and (max-width: 480px) {
  /* home page */
  #DeliveryBox,
  #Returns,
  #NavBelt .SearchBox {
    display: none !important;
  }

  #PhoneSearchBox {
    display: block !important;
  }
  #PhoneDeliveryBox {
    display: flex !important;
  }

  #HomeSlider .slick-arrow,
  .menu-btn {
    display: none !important;
  }
  #NavMain {
    overflow-x: scroll;
    background: var(--secondary-color-dark);
  }
  #NavMain::-webkit-scrollbar {
    display: none;
  }
  .nav-main-items {
    width: 100px;
    word-wrap: normal;
    word-break: keep-all;
    text-align: center;
    font-size: 0.8rem;
    margin: 0 0.5rem;
  }
  .nav-main-items a {
    padding: 0.3rem 0 !important;
  }
  #NavBeltCol1 .menu-btn {
    display: flex !important;
    transform: scale(2);
  }
  .menu-btn-icon {
    min-width: 13px !important;
    margin: 0 auto !important;
  }
  .menu-btn-icon::after,
  .menu-btn-icon::before {
    min-width: 13px !important;
  }
  .nav-brand {
    background-position: -10px -36px !important;
  }
  #NavBeltCol2 {
    justify-content: flex-end !important;
  }

  #HomeProductsBox {
    grid-template-columns: none !important;
  }
  #HomeSlider {
    height: 100px !important;
  }

  #SideMenu {
    width: 310px !important;
  }
  #SideMenuCloserBtn {
    left: 315px !important;
  }
  #SideMenuCloserBtnIcon {
    height: 70% !important;
  }

  /* product page */
  #ProductsCol1 {
    display: none !important;
  }
  #ProductsCol2 {
    display: block;
  }

  /* product details page */
  #DetailsRow1,
  #ImagesSec {
    flex-direction: column !important;
  }
  #ImagesSec {
    position: unset !important;
  }

  #ImagesBox {
    flex-direction: row !important;
  }

  #DetailsRow1 > *,
  #DetailsRow6Container > *,
  #DetailsRow3Col1,
  .DetailsSearchInputBox,
  #StarsProgressBarBox,
  #RatingsCalculateLink,
  #ReviewProductBox {
    width: 100% !important;
  }
  #DetailsRow3Col2 {
    display: none !important;
  }
  #DetailsRow6Container {
    flex-direction: column;
  }
  #DetailsRow7 .product-card {
    min-height: 315px !important;
  }

  /* basket page */
  #BasketPageRow1 {
    flex-direction: column !important;
    padding: 0 !important;
  }
  #BasketPageRow1 > * {
    width: 100% !important;
  }
  .added-product-card-price-for-phone,
  #PhoneCallToCheckOutBox,
  #PhoneCountinueShoppingBtnContainer {
    display: block !important;
  }
  .ProductAddQuantity {
    display: block !important;
    width: 100% !important;
    margin: 0.5rem 0;
  }
  .added-product-card {
    min-height: 190px !important;
  }
  .added-product-card-price-ebox,
  .added-product-card-gift-checkbox-container,
  .added-product-card-compare-btn,
  .added-product-card-edit-container .text-separator,
  #AddedProductsRowSpan,
  #PhoneCallToCheckOutBox .CallToCheckoutBoxCheckBoxContainer,
  #BasketPageCol2,
  #BasketPageRow2 {
    display: none !important;
  }
  .added-product-card-image-box {
    flex-basis: 20% !important;
    padding: 0 !important;
  }

  .added-product-card-delete-btn,
  .added-product-card-save-for-later-btn {
    margin: 0.5rem !important;
    padding: 0.4rem 0.7rem;
    text-align: center;
    background: var(--light-color);
    box-shadow: 1px 1px 1px #bec0c0, -1px -1px 1px #bec0c0;
    color: #000;
    border: none;
    border-radius: 7px;
    outline: 1px solid #d5d9d9;
  }

  #PhoneCallToCheckOutBox .CallToCheckoutBox {
    padding-bottom: 0.3rem !important;
  }
  #SavedProducts {
    display: unset !important;
  }
  .saved-product-card {
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .card-second-row .added-product-card-delete-btn {
    width: 100% !important;
    margin: 0 !important;
  }

  .saved-product-card {
    display: flex;
  }
  .card-image-container {
    flex-basis: 30% !important;
    height: 190px !important;
  }
  .card-second-row {
    flex-basis: 70% !important;
  }

  /* signup page */
  .sign-up-boxes-card,
  .sign-up-boxes-second-row {
    width: 90% !important;
  }

  /* footer */
  #FooterSecondBox,
  #FooterThirdBox,
  #FooterFourthBoxTable,
  .FooterLinks {
    display: none !important;
  }
  #FooterFourthBoxRow2 span {
    font-size: 0.7rem !important;
    margin: 0 !important;
  }
}
