.SearchBox {
  position: relative;
  display: flex;
  width: 58%;
  height: 90%;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}
.SearchBox.focused {
  border: 4px solid var(--primary-color-light);
}
.SearchSelect {
  cursor: pointer;
  height: 100%;
  border: none;
  background: #f1f1f1;
  outline: none;
  border-right: 0.5px solid #a7a7a777;
  color: #494949e8;
  transition: all 0.1s ease;
}
.SearchSelect:hover {
  background: #dadada;
  color: #000000;
}
.SearchSelect:focus {
  border: 3px solid var(--primary-color-dark);
}
.SearchInput {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0.5rem;
}
.SearchSubmit {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 100%;
  background: var(--primary-color-light);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.SearchSubmit span {
  background-image: url(/assets/images/logos.png);
  background-size: 350px;
  background-position: 1px -280px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
