#ProductsCol1 {
  min-width: 290px;
  border-right: 2px solid #ddd;
  font-family: var(--main-font-family);
}
#ProductsCol1 > * {
  width: 100%;
  margin: 1rem 0.75rem;
  padding: 0.5rem 0;
  list-style: none;
}
.FiltersTitle {
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 0.3rem 0;
  display: block;
}
.filter-items {
  list-style: none;
  width: fit-content;
}
#ProductsCol1 li:hover,
.filter-items-label:hover {
  cursor: pointer;
  color: var(--primary-color-dark);
}
#PriceFiltersInputsDiv {
  margin-top: 1rem;
  height: 31px;
  width: 100%;
}
.priceFiltersInputs {
  width: 65px;
  height: 100%;
  border: 1px solid #858484;
  box-shadow: 0 1px 2px #0f0f0f5b;
  border-radius: 4px;
  margin: 0 0.2rem;
  outline: none;
  padding-left: 0.5rem;
  background: var(--light-color);
}
.priceFiltersInputs::placeholder {
  color: #666;
  font-size: 0.9rem;
}
#PriceFiltersSubmitBtn {
  margin-left: 0.3rem;
  height: 100%;
  padding: 0 0.7rem;
  background: transparent;
  outline: none;
  border: 1px solid #c2c2c2;
  box-shadow: 0 1px 2px #0f0f0f25;
  border-radius: 7px;
  transition: all 0.1s linear;
  cursor: pointer;
}
#PriceFiltersSubmitBtn:hover {
  background: #f7fafa;
}
.customer-review-items {
  height: 1.3rem;
  display: flex;
  align-items: center;
  width: 65%;
}
.customer-review-stars {
  width: 50%;
  height: 100%;
  background-image: url(/assets/images/rateStars.png);
  background-size: 500px;
  display: inline-block;
  margin-right: 0.2rem;
}
.customer-review-stars.one-star {
  background-position: -379px -225px;
}
.customer-review-stars.two-star {
  background-position: -95px -130px;
}
.customer-review-stars.three-star {
  background-position: -284px -177px;
}
.customer-review-stars.four-star {
  background-position: 1px -84px;
}
